.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* Ändrat från center till flex-start för att flytta upp texten */
  background-color: #8b0000;
  /* Mörkröd bakgrund */
  padding-top: 50px;
  /* Lägger till lite avstånd från toppen */
  box-sizing: border-box;
  /* För att inkludera padding i höjden */
}

.home-text {
  font-family: 'Arial', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #f5f5dc;
  /* Beige textfärg */
  margin: 0;
  /* Tar bort eventuell margin som kan orsaka extra avstånd */
  border: none;
  /* Tar bort eventuell ram */
}
