/* src/components/NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #E01BEC;
  /* Ljuslila bakgrund */
  z-index: 100;
  /* Se till att detta är tillräckligt högt för att hålla navbaren ovanpå andra innehåll */
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.navbar-brand h1 {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  color: #FAFF03;
  /* Guldig gul textfärg */
  text-shadow: 3px 3px 0px #000;
  /* Lägg till fet svart skugga */
}

.navbar-brand p {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  color: #FAFF03;
  /* Guldig gul textfärg */
  text-shadow: 2px 2px 0px #000;
  /* Lägg till fet svart skugga */
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #FAFF03;
  /* Guldig gul textfärg */
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: transform 0.3s ease, font-weight 0.3s ease;
  text-shadow: 2px 2px 0px #000;
  /* Lägg till fet svart skugga */
}

.navbar-links a:hover {
  font-weight: bolder;
  transform: scale(1.1);
}
