/*CSS FÖR ADMINPANEL*/

.admin-panel {
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  margin: 0 auto;
}


@media (max-width: 768px) {

  .admin-panel {
    grid-template-columns: 1fr;
    grid-gap: 2em;
  }
}
