/* Home.css */

.home-hero {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;

}

.hero-content {
  z-index: 100;
}

.events-container {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.events-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}


@media (max-width: 768px) {
  .home-hero {
    height: 50vh;
    justify-content: center;
  }

  .hero-content {
    padding-top: 4rem;
    padding: 0.5rem 1rem;
    text-align: center;
    max-width: 90%;

  }

  .events-list {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

 .rave-title {
   font-size: 1.8 rem;
   max-width: 90%;
 }

 .rave-subtitle {
   font-size: 1rem;
   max-width: 90%;
 }
}
