/* Home.css */

.home-hero {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
}

.hero-content {
  z-index: 100;
}

.events-container {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.events-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}