/* index.css */

/* Globala stilar för hela sidan */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #E01BEC;
  /* Mörkröd bakgrund */
  color: #FAFF03;
  /* Beige textfärg */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #f5f5dc;
  /* Beige textfärg */
}

/* Stil för knappar */
button {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f5f5dc;
  /* Beige bakgrundsfärg */
  color: #E01BEC;
  /* Mörkröd textfärg */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  /* Lägg till transition */
}

button:hover {
  transform: scale(1.1);
  /* Skala upp knappen lite vid hover */
  background-color: #f0e68c;
  /* Ändra till en ljusare färg vid hover */
}

/* Stil för navbaren */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #8b0000;
  color: #FAFF03
  /* Samma som bakgrunden */
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.navbar-brand h1,
.navbar-brand p {
  margin: 0;
  color: #f5f5dc;
  /* Beige textfärg */
}

/* Stil för länkar i navbaren */
.navbar-links a {
  text-decoration: none;
  color: #f5f5dc;
  /* Beige textfärg */
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: transform 0.3s ease, font-weight 0.3s ease;
  /* Lägg till transition */
}

.navbar-links a:hover {
  font-weight: bolder;
  /* Fetare text vid hover */
  transform: scale(1.1);
  /* Skala upp texten lite vid hover */
}

/* Stil för huvudinnehåll */
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
  box-sizing: border-box;
}

.home-text {
  font-family: 'Arial', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #f5f5dc;
  /* Beige textfärg */
  margin: 0;
}
