/* Globala stilar för hela sidan */

/* index.css */
:root {
  --primary-color: #E01BEC;
  --secondary-color: #FAFF03;
  --black: #000;
  --white: #fff;
  --outline-color: #000;
  --outline-thickness: 5px;
  --blur-radius: 1rem;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik Mono One', monospace;
  background-color: var(--primary-color);
  /* Mörkröd bakgrund */
  color: #FAFF03;
  /* Beige textfärg */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #f5f5dc;
  /* Beige textfärg */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
  font-family: "Rubik Mono One", monospace;
  font-style: normal;
}

.container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.rave-title {
  z-index: 10;
  color: var(--secondary-color);
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke-width: var(--outline-thickness);
  -webkit-text-stroke-color: var(--black);
  margin-bottom: 1rem;
}

.rave-subtitle {
  z-index: 10;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--white);
  padding: 0.4rem;
}

.rave-form div {
  display: flex;
  flex-direction: column;
}

.rave-form label {
  margin: 10px 0 5px;
  font-weight: bold;
}

.rave-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.rave-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 150px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  background-color: #f5f5dc;
  color: var(--primary-color);
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Stil för knappar */
button {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f5f5dc;
  /* Beige bakgrundsfärg */
  color: #E01BEC;
  /* Mörkröd textfärg */
  border: none;
  padding: 10px 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  /* Lägg till transition */
}

button:disabled {
  cursor: unset;
  color: #fa9dff
}

button:not(:disabled):hover {
  transform: scale(1.1);
  /* Skala upp knappen lite vid hover */
  background-color: #f0e68c;
  /* Ändra till en ljusare färg vid hover */
}

@media (max-width: 768px) {

  .admin-panel {
    grid-template-columns: 1fr;
    grid-gap: 2em;
  }
  
  .rave-title {
    z-index: 10;
    color: var(--secondary-color);
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke-width: 3px;

    margin-bottom: 1rem;
  }
}
